In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re

In [5]:
url='https://www.worldairlineawards.com/worlds-top-100-airlines-2023/'
page=requests.get(url)
soup=BeautifulSoup(page.content,'html.parser')
awards=soup.find_all('div',class_='row mb-2 awards-list')
airline_tier={}
for award in awards:
    Airline=award.find('h4').get_text(strip=True)
    Tier=award.find('h6',class_='mb-0').get_text(strip=True)
    airline_tier[Airline]=Tier
print(airline_tier)

{'Singapore Airlines': '1', 'Qatar Airways': '2', 'ANA All Nippon Airways': '3', 'Emirates': '4', 'Japan Airlines': '5', 'Turkish Airlines': '6', 'Air France': '7', 'Cathay Pacific Airways': '8', 'EVA Air': '9', 'Korean Air': '10', 'Hainan Airlines': '11', 'Swiss International Air Lines': '12', 'Etihad Airways': '13', 'Iberia': '14', 'Fiji Airways': '15', 'Vistara': '16', 'Qantas Airways': '17', 'British Airways': '18', 'Air New Zealand': '19', 'Delta Air Lines': '20', 'Lufthansa': '21', 'Virgin Atlantic': '22', 'Saudi Arabian Airlines': '23', 'Finnair': '24', 'KLM Royal Dutch Airlines': '25', 'China Southern Airlines': '26', 'Oman Air': '27', 'Asiana Airlines': '28', 'Bangkok Airways': '29', 'Garuda Indonesia': '30', 'AirAsia': '31', 'Gulf Air': '32', 'Scoot': '33', 'Austrian Airlines': '34', 'Ethiopian Airlines': '35', 'Aegean Airlines': '36', 'Air Astana': '37', 'Air Canada': '38', 'STARLUX Airlines': '39', 'Thai Airways': '40', 'China Airlines': '41', 'Kuwait Airways': '42', 'IndiGo': '43', 'Vietnam Airlines': '44', 'LATAM': '45', 'Virgin Australia': '46', 'Malaysia Airlines': '47', 'Azul Brazilian': '48', 'United Airlines': '49', 'Azerbaijan Airlines': '50', 'Flynas': '51', 'Alaska Airlines': '52', 'Royal Air Maroc': '53', 'Volotea': '54', 'jetBlue Airways': '55', 'Rex Airlines': '56', 'Aer Lingus': '57', 'Transavia France': '58', 'Sun Country Airlines': '59', 'Southwest Airlines': '60', 'airBaltic': '61', 'Air Transat': '62', 'Jet2.com': '63', 'WestJet': '64', 'EasyJet': '65', 'Royal Brunei Airlines': '66', 'Vueling Airlines': '67', 'Ryanair': '68', 'Jetstar Airways': '69', 'flyDubai': '70', 'SunExpress': '71', 'South African Airways': '72', 'Kenya Airways': '73', 'Peach': '74', 'Hong Kong Airlines': '75', 'JetSMART Airlines': '76', 'Jetstar Asia': '77', 'Air Mauritius': '78', 'Eurowings': '79', 'Philippine Airlines': '80', 'SKY Airline': '81', 'American Airlines': '82', 'Copa Airlines': '83', 'SAS Scandinavian': '84', 'Hawaiian Airlines': '85', 'LOT Polish': '86', 'Wizz Air': '87', 'Air Arabia': '88', 'TAP Portugal': '89', 'RwandAir': '90', 'PLAY': '91', 'TUI Airways': '92', 'Air Canada rouge': '93', 'Citilink': '94', 'Juneyao Air': '95', 'Air Dolomiti': '96', 'Breeze Airways': '97', 'Norwegian': '98', 'Porter Airlines': '99', 'Brussels Airlines': '100'}

In [7]:
ranking_df=pd.DataFrame(airline_tier.items(),columns=['Airline','Ranking'])
ranking_df

                   Airline Ranking
0       Singapore Airlines       1
1            Qatar Airways       2
2   ANA All Nippon Airways       3
3                 Emirates       4
4           Japan Airlines       5
..                     ...     ...
95            Air Dolomiti      96
96          Breeze Airways      97
97               Norwegian      98
98         Porter Airlines      99
99       Brussels Airlines     100

[100 rows x 2 columns]